.copyright__text {
  padding: 0;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
}

.copyright__brand {
  text-transform: uppercase;
  color: var(--color-accent);
}

@media (width <= 1200px) {
  .copyright__text {
    font-size: 14px;
  }
}

@media (width <= 992px) {
  .copyright__text {
    font-size: 12px;
  }
}

@media (width <= 768px) {
  .copyright__text {
    font-size: 4px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (width <= 480px) {
  .copyright__text {
    font-size: 10px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
