.deal {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 20px;
  background-color: var(--color-white);
  box-sizing: border-box;
}

.deal__container {
  text-align: center;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}

.deal__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 36px;
  line-height: 89%;
  color: var(--color-black);
  margin-bottom: 16px;
}

.deal__line {
  width: 80px;
  height: 3px;
  background-color: var(--color-accent);
  margin: 0 auto 24px;
}

.deal__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  text-align: center;
  color: #454545;
}

@media (width <= 768px) {
  .deal {
    padding: 20px 16px;
  }

  .deal__container {
    max-width: 100%;
    padding: 0 10px;
  }

  .deal__title {
    font-size: 20px;
  }

  .deal__text {
    font-size: 12px;
  }

  .deal__line {
    width: 60px;
  }
}

@media (width <= 480px) {
  .deal__container {
    max-width: 100%;

    /* padding: 0 5px; */
  }

  .deal__title {
    font-size: 13px;
  }

  .deal__text {
    font-size: 10px;
  }

  .deal__line {
    width: 40px;
  }
}
