.featured {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.featured__title {
  font-weight: var(--font-medium);
  font-size: 36px;
  text-align: center;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.featured__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

.featured__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 290px;
  flex: none;
  padding: 10px;
}

.featured__item--big {
  width: 320px;
  flex: none;
}

.featured__image-wrapper {
  width: 290px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  flex: none;
}

.featured__item--gray .featured__image-wrapper {
  background-color: var(--border-default);
  padding: 20px;
  width: 290px;
  flex: none;
}

.featured__image-wrapper--full {
  background-color: transparent;
  padding: 0;
  width: 290px;
  flex: none;
}

.featured__image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.featured__image-wrapper--full .featured__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured__name {
  font-weight: var(--font-medium);
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-black);
  text-align: center;
  padding: 10px 0 0;
  box-sizing: border-box;
  width: 100%;
}

.featured__price {
  font-weight: var(--font-regular);
  font-size: 14px;
  color: var(--color-accent);
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.featured__old-price {
  font-weight: var(--font-regular);
  font-size: 14px;
  color: var(--color-old);
  text-decoration: line-through;
  padding-left: 5px;
  box-sizing: border-box;
}

@media (width <= 768px) {
  .featured__item,
  .featured__item--big,
  .featured__item--gray {
    width: 290px;
    flex: none;
  }

  .featured__image-wrapper {
    height: 250px;
    width: 290px;
  }

  .featured__item--gray .featured__image-wrapper,
  .featured__image-wrapper--full {
    width: 290px;
  }

  .featured__image {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

  .featured__image-wrapper--full .featured__image {
    object-fit: contain;
  }

  .featured__name {
    font-size: 16px;
    padding: 6px 0 4px;
  }

  .featured__price {
    font-size: 14px;
  }

  .featured__old-price {
    font-size: 12px;
  }
}

@media (width <= 480px) {
  .featured__title {
    font-size: 15px;
  }

  .featured__name {
    font-size: 10px;
  }

  .featured__item {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .featured__image-wrapper {
    height: 140px;
  }

  .featured__item--gray .featured__image-wrapper {
    max-width: 150px;
  }

  .featured__inner {
    gap: 10px;
  }

  .featured__price,
  .featured__old-price {
    font-size: 10px;
  }
}
