.good4me-section {
  width: 100%;
  padding: 80px 0;
  color: var(--color-white);
}

.good4me-section__title {
  text-align: center;
  font-weight: 600;
  font-size: 42px;
  color: var(--color-text);
  margin: 0 0 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.good4me-section__gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 -5px;
}

.good4me-section__item {
  flex: 1 0 calc((100% - 50px) / 6);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.good4me-section__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@media (width <= 1200px) {
  .good4me-section {
    padding: 70px 0;
  }

  .good4me-section__title {
    font-size: 38px;
    margin-bottom: 50px;
  }

  .good4me-section__item {
    flex: 1 0 calc((100% - 30px) / 3);
  }
}

@media (width <= 768px) {
  .good4me-section {
    padding: 60px 0;
  }

  .good4me-section__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .good4me-section__item {
    flex: 1 0 calc((100% - 20px) / 3);
  }
}

@media (width <= 480px) {
  .good4me-section__title {
    font-size: 15px;
  }

  .good4me-section__item {
    flex: 1 0 calc(50% - 10px);
  }

  .good4me-section__gallery {
    gap: 10px;
    margin: 0 -5px;
  }
}

@media (width <= 360px) {
  .good4me-section {
    padding: 40px 0;
  }

  .good4me-section__title {
    font-size: 20px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
  }

  .good4me-section__item {
    flex: 1 0 calc(50% - 5px);
  }

  .good4me-section__gallery {
    gap: 5px;
    margin: 0 -2.5px;
  }
}
