:root {
  --color-dark: #2a254b;
  --color-accent: #f6623e;
  --color-light: #fff;
  --border-default: #ddd;
}

.header {
  width: 100%;
}

.header__top {
  background-color: var(--color-accent);
  color: var(--color-light);
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  /* padding-left: 100px;
  padding-right: 100px; */
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__link {
  color: var(--color-light);
  text-decoration: none;
}

.header__lang {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header__flag {
  width: 20px;
  height: auto;
}

.header__bottom {
  background-color: var(--color-light);
  padding: 20px;
  border-bottom: 1px solid var(--border-default);
}

.header__bottom-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__logo img {
  max-height: 28px;
}

.nav__list {
  display: flex;
  gap: 28px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  color: var(--color-dark);
  transition: color 0.3s ease;
}

.nav__link:hover,
.nav__link--active {
  color: var(--color-accent);
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__icons img {
  width: 20px;
  height: 20px;
}

.header__icons button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__top-inner,
.header__bottom-inner {
  padding-left: 100px;
  padding-right: 100px;
}

@media (width <= 992px) {
  .nav__list {
    gap: 20px;
  }

  .header__bottom-inner {
    flex-direction: column;
    gap: 12px;
  }

  .header__top-inner {
    flex-direction: column;
    gap: 6px;
    text-align: center;
  }
}

@media (width <= 600px) {
  .nav__list {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .header__icons {
    gap: 12px;
  }
}
