.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

.products__title {
  font-weight: var(--font-medium);
  font-size: 36px;
  text-align: center;
  padding-bottom: 20px;
  box-sizing: border-box;
  width: 100%;
}

.products__inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 1400px;
}

.products__item {
  flex: 0 0 290px;
  max-width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.products__image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.products__item--gray .products__image-wrapper {
  width: 290px;
  height: 290px;
  background-color: #f4f4f4;
  padding: 20px;
}

.products__item--gray .products__image {
  max-width: 200px;
  max-height: 250px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.products__image-wrapper--full {
  height: 290px;
}

.products__image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.products__text {
  font-weight: var(--font-medium);
  color: var(--color-text);
  text-align: center;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 1.2;
}

@media (width <= 992px) {
  .products__item {
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }

  .products__item--gray .products__image-wrapper {
    width: 100%;
    max-width: 240px;
    height: 240px;
  }

  .products__image-wrapper--full {
    height: 240px;
  }

  .products__item--gray .products__image {
    max-width: 160px;
    max-height: 200px;
  }

  .products__inner {
    gap: 15px;
  }
}

@media (width <= 480px) {
  .products__title {
    font-size: 15px;
  }

  .products__text {
    font-size: 10px;
  }

  .products__item {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }

  .products__item--gray .products__image-wrapper {
    width: 100%;
    height: 140px;
    max-width: 150px;
  }

  .products__image-wrapper--full {
    height: 140px;
  }

  .products__item--gray .products__image {
    max-width: 100px;
    max-height: 120px;
  }

  .products__inner {
    gap: 2px;
  }
}
