.social {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.social__item {
  list-style: none;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.social__link:hover {
  background-color: var(--color-accent);
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentcolor;
}

@media (width <= 480px) {
  .social {
    gap: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .social__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social__link {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }

  .social__link img {
    width: 8px;
    height: 8px;
    display: block;
  }
}

@media (width <= 360px) {
  .social__link {
    width: 20px;
    height: 20px;
  }

  .social__icon {
    width: 10px;
    height: 10px;
  }
}
